* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.multimedia {
  margin-top: 30px;
  background: url(https://static.thanhnien.com.vn/thanhnien.vn/image/multimedia.jpg);
  background-size: cover;
  width: 100%;
  .multimedia-container {
    padding-top: 2rem;
    width: 1150px;
    margin: auto;
    .mulimedia-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .middle{
        color: white;
        font-size: 19px;
        width: 100%;
        text-align: center;
      }
      .category {
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
      }
      .other-category {
        display: flex;
        gap: 2rem;
        .seperate {
          border-right: 0.1px solid #ebebeb !important;
        }
        div {
          a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            color: white;
          }
          a:hover {
            color: white;
          }
        }
      }
    }
    .multimedia-content {
      padding-top: 1.7rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2.5rem;
      .main-multimedia {
        width: 45%;
        .main-post {
          .img {
            a {
              img {
                height: 400px;
                width: 100%;
                object-fit: cover;
              }
            }
          }
          .title {
            padding-top: 0.8rem;
            a {
              font-size: 1.4rem;
              color: white;
            }
          }
          .title:hover {
            a {
              color: #59cdf9;
            }
          }
        }
      }
      .multimedia-welcome {
        padding-top: 0.8rem;
        .welcome {
          margin-bottom: 30px;

          a {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
        .welcome:hover {
          a {
            //color: #00a5e0;
          }
        }
      }
      .sub-multimedia {
        width: 55%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 2rem;
        .sub-post {
          .img {
            a {
              img {
                width: 100%;
              }
            }
          }
          .title {
            padding-top: 0.5rem;
            margin-bottom: 20px;
            a {
              color: white;
            }
          }
          .title:hover {
            a {
              color: #59cdf9;
            }
          }
        }
      }
    }
  }
}
.section-home {
  padding-top: 30px;
  width: 1150px;
  margin: auto;
  display: flex;
  .sub-news {
    width: 100%;
    margin-left: 0px;
    height: 90%!important;
    .sub-news-container {
      border: 1px solid #ebebeb;
      border-radius: 5px;
      margin-bottom: 30px;
      height: 90%!important;
      .sub-news-tab {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        height: 100%;

        .css-w8dmq8 {
          height: 100%;

          .css-1gsv261 {
            .css-1ujnqem-MuiTabs-root {
              .css-jpln7h-MuiTabs-scroller {
                .css-heg063-MuiTabs-flexContainer {
                  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
                    width: 50%;
                  }
                }
              }
            }
          }

          .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root {
            height: 440px;
            overflow-y: auto;
            padding: .7rem;

            .latest-news-container {
              border-bottom: 1px solid #ebebeb;
              padding: .7rem 1rem .7rem 1rem;
              .latest-news-item{
                .item {
                  color: black;
                }
              }
              .latest-news-item:hover{
                .item{
                  color: #0098d1;
                }
              }
            }

            .popular-news-container {
              border-bottom: 1px solid #ebebeb;
              padding: .7rem 1rem .7rem 1rem;
              .popular-news-item{
                .item {
                  color: black;
                }
              }
              .popular-news-item:hover{
                .item{
                  color: #0098d1;
                }
              }
            }
          }
        }
      }
    }
  }
}
.main-multimedia.sub{
  width: 65%!important;
}
.section-home.sub{
  width: 35%;
  padding: 0;
  margin: 0;
}
.flex-thumbs{
    display: flex;
    border-bottom: 1px solid #29a8d8;
    padding-bottom: 5px;
    margin-bottom: 15px;

  .img-thumbs{
    width: 40%;
    height: 80px;
    margin-right: 20px;
    img{
      width: 100%;
    }
  }
  .tit-thumbs{
    width: 60%;
    a{
      color: white;
      font-family: Merriweather;
      font-size: 15px;
    }
    a:hover{
      color: #59cdf9;
    }
  }
}
