@font-face {
    font-family: Merriweather;
    src: url("https://static.thanhnien.com.vn/fonts/Merriweather-Bold.woff2");
}
/* BaiBao.css */
.bai-bao {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-right: 1px solid #ebebeb;
    margin-right: 20px;
}
.bai-bao-hinh-anh {
    width: 95%;
    height: 205px;
    object-fit: cover;
    margin-right: 20px;
}

.bai-bao-noi-dung {
    display: flex;
    flex-wrap: wrap;
}

.bai-bao-chu-de {
    color: #666;
    margin-bottom: 10px;
}

.bai-bao-tieu-de {
    font-size: 17px;
    margin: 10px 0;
    font-family: Merriweather;
}
.tieude1 {
    font-size: 17px;
    margin: 10px 0;
    font-family: Merriweather;
}

.bai-bao-mo-ta {
    color: #333;
    height: auto;
    width: 96%;
    min-height: 70px;
    font-size: 16px;
    font-weight: 400;
    font-family:  serif;
    padding: 15px 0 10px;
    margin-top: 15px;
    border-top: 1px solid #ddd;
}
/* DanhSachBaiBao.css */
.ds-bai-bao {
    margin: 0 auto;
    padding: 20px 0;
    width: 1150px!important;
}
.ds-bai-bao h2 {
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #00a5e0;
    padding-bottom: 10px;
}
.ds-tieu-de{
    display: flex;
    justify-content: space-between;
    .menuRight{
        display: flex;
        align-items: center;
        position: relative;
        a{
            text-decoration: none;
            border-right:1px solid #8b8b8b;
            margin-right: 10px;
            padding-right: 10px;

        }

    }
}
.ItemTitle{
    background-color: white;
    position: absolute;
    width: auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    right: 0;
    a{
        text-decoration: none;
        z-index: 2;
        border: none!important;
        padding:0 10px;
        margin: 8px;
        display: none;
    }
}
.ds-noi-dung {
    display: flex;
    gap: 20px;
}
.bai-bao {
    width: 48%;
}
.mota1{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #454545;
    padding-left: 18px;
    display: block;
    position: relative;
    margin-top: 10px;
}
.Bao{
    padding-right: 20px;
    border-right: #ebebeb solid 1px;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #00a5e0;
    cursor: pointer ;
}
.iconMenu:hover .ItemTitle a{
    display: block;
}
.image1{
    object-fit: cover;
    width: 405px;
    height: 250px;
}
.chitiet1 {
    font-family: Arial;
    font-size: 15px;
    width: 405px;
    height: auto; /* Cho phép chiều cao tự động điều chỉnh theo số dòng */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
    -webkit-box-orient: vertical; /* Định hướng theo chiều dọc */
}
.chitiet1:hover{
    color: black;
}
.moTa{
    font-family: "Times New Roman";
    font-size: 16px;
}
.bao-single{
    display: flex;
    justify-content: space-between;
}
.bonus-tit{
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #00a5e0;
}
.ds-tit{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 16px;
    border-left: 1px solid #ebebeb;
    a{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #292929;
        display: block;
        padding: 10px 5px;
        font-family: "Times New Roman";
        border-bottom: 1px solid #ebebeb;

    }
}
