* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container .header {
  margin-top: 30px;
}
.container .header .header-ov {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
}
.container .header .header-ov .header-list {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container .header .header-ov .header-list a {
  color: black;
  text-decoration: none;
}
.container .header .header-ov .header-list .item {
  padding-left: 5px;
}
.container .header .header-ov .header-social {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container .header .header-ov .header-social .item {
  padding-left: 5px;
  padding-top: 4px;
}
.container .header .header-ov .header-social .item img {
  width: 24px;
  height: 24px;
}
.container .header .header-sticky .header-top {
  margin-top: 20px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px;
}
.container .header .header-sticky .header-top .header-container .header-flex {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.container .header .header-sticky .header-top .header-container .header-flex .header-left {
  display: flex;
  align-items: center;
}
.container .header .header-sticky .header-top .header-container .header-flex .header-left .search {
  border: 0.5px solid #392f2f;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png") no-repeat left;
  background-position: 10px;
  background-size: 20px;
}
.container .header .header-sticky .header-top .header-container .header-flex .header-right {
  display: flex;
  justify-content: flex-end;
}
.container .header .header-sticky .header-top .header-container .header-flex .header-right div {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.container .header .header-sticky .header-top .header-container .header-flex .header-right div h5 {
  font-weight: 450;
  font-size: 1rem;
}
.container .header .header-sticky .header-top .header-container .header-flex .header-right div div {
  padding-left: 16px;
  width: 50px;
  height: 50px;
  background: #fedb00;
  border-radius: 50%;
}
.container .header .header-sticky .header-top .header-container .header-flex .header-right .login .login {
  padding-left: 16px;
}
.container .header .header-sticky .header-top .header-container .header-flex .header-center {
  width: 500px;
}
.container .header .header-sticky .header-top .header-container .header-flex .header-center img {
  float: right;
  width: 300px;
}
.container .header .header-sticky .header-middle {
  width: 100%;
  margin-top: 10px;
}
.container .header .header-sticky .header-middle .header-container {
  width: 100%;
}
.container .header .header-sticky .header-middle .header-container .header-nav {
  width: 100%;
}
.container .header .header-sticky .header-middle .header-container .header-nav .header-nav-flex {
  margin: auto;
  width: 1200px;
  border-bottom: 2px solid #0098d1;
  padding-bottom: 15px;
  padding-right: 50px;
}
.container .header .header-sticky .header-middle .header-container .header-nav .header-nav-flex .menu-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.container .header .header-sticky .header-middle .header-container .header-nav .header-nav-flex .menu-nav li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 0.95rem;
}/*# sourceMappingURL=Header.css.map */