@font-face {
    font-family: Merriweather;
    src: url("https://static.thanhnien.com.vn/fonts/Merriweather-Bold.woff2");
}

.container-24h {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.container-24h h2 {
    color: #333;
    font-family: Arial, serif;
    font-weight: bold;
}

.list24h {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.item-24h {
    max-width: 20%;
    display: flex;
    font-family: Merriweather;
    flex-direction: column;
    flex-wrap: wrap;
}

.item-24h-image {
    height: auto;
    object-fit: cover; /* Thêm object-fit: cover */
    min-height: 100px;
    max-height: 100px;
    min-width: 100px; /* Đặt min-width cho hình ảnh */
    max-width: 200px;
}

.item-24h-description {
    color: #333;
    margin: 0; /* Xóa khoảng cách xung quanh mô tả */
    padding: 0;
}