@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

.section-home {
  padding-top: 30px;
  width: 1150px;
  margin: auto;
  display: flex;
}
.section-home .main-news {
  width: 735px;
}
.section-home .main-news .main-news-container .main-news-flex {
  display: flex;
  flex-direction: column;
}
.section-home .main-news .main-news-container .main-news-flex .top-news {
  display: flex;
  flex-direction: row;
  height: 280px;
  background-color: #f6f6f6;
}
.section-home .main-news .main-news-container .main-news-flex .top-news .top-news-img {
  width: 448px;
}
.section-home .main-news .main-news-container .main-news-flex .top-news .top-news-img a img {
  width: 448px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-home .main-news .main-news-container .main-news-flex .top-news .top-news-name {
  width: calc(100% - 448px);
  padding: 15px 25px 15px 25px;
}
.section-home .main-news .main-news-container .main-news-flex .top-news .top-news-name .top-news-title a {
  color: black;
  font-size: 1.7rem;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.section-home .main-news .main-news-container .main-news-flex .top-news .top-news-name .top-news-description {
  padding-top: 15px;
  max-height: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section-home .main-news .main-news-container .main-news-flex .top-news .top-news-name .top-news-description a {
  font-size: 1rem;
  font-weight: 400;
}
.section-home .main-news .main-news-container .main-news-flex .top-news .top-news-name .top-news-description a,
.section-home .main-news .main-news-container .main-news-flex .top-news .top-news-name .top-news-description a :hover {
  color: black;
}
.section-home .main-news .main-news-container .main-news-flex .middle-news {
  height: 190px;
}
.section-home .main-news .main-news-container .main-news-flex .middle-news .middle-news-container {
  border-bottom: 1.5px solid #ebebeb;
  padding-bottom: 20px;
  margin-top: 25px;
}
.section-home .main-news .main-news-container .main-news-flex .middle-news .middle-news-container .middle-news-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 32.55%);
  gap: 10px;
}
.section-home .main-news .main-news-container .main-news-flex .middle-news .middle-news-container .middle-news-grid .middle-news-item {
  border-right: 1.5px solid #ebebeb;
  padding: 10px;
}
.section-home .main-news .main-news-container .main-news-flex .middle-news .middle-news-container .middle-news-grid .middle-news-item div a {
  text-align: left;
}
.section-home .main-news .main-news-container .main-news-flex .middle-news .middle-news-container .middle-news-grid .middle-news-item .title a {
  font-weight: bold;
  color: black;
  font-size: 1rem;
}
.section-home .main-news .main-news-container .main-news-flex .middle-news .middle-news-container .middle-news-grid .middle-news-item .title:hover a {
  color: #0098d1;
}
.section-home .main-news .main-news-container .main-news-flex .middle-news .middle-news-container .middle-news-grid .middle-news-item .description {
  margin-top: 10px;
  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Số dòng tối đa hiển thị */
  -webkit-box-orient: vertical; /* Định hướng theo chiều dọc */
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.section-home .main-news .main-news-container .main-news-flex .middle-news .middle-news-container .middle-news-grid .middle-news-item .description a {
  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #454545;
}
.section-home .main-news .mini-news-container {
  margin-top: 3rem;
}
.section-home .sub-news {
  width: 325px;
  margin-left: 60px;
}
.section-home .sub-news .sub-news-container {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  height: 575px;
}
.section-home .sub-news .sub-news-container .sub-news-tab {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 100%;
}
.section-home .sub-news .sub-news-container .sub-news-tab .css-w8dmq8 {
  height: 100%;
}
.section-home .sub-news .sub-news-container .sub-news-tab .css-w8dmq8 .css-1gsv261 .css-1ujnqem-MuiTabs-root .css-jpln7h-MuiTabs-scroller .css-heg063-MuiTabs-flexContainer .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  width: 50%;
}
.section-home .sub-news .sub-news-container .sub-news-tab .css-w8dmq8 .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root {
  height: 500px;
  overflow-y: auto;
  padding: 0.7rem;
}
.section-home .sub-news .sub-news-container .sub-news-tab .css-w8dmq8 .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root .latest-news-container {
  border-bottom: 1px solid #ebebeb;
  padding: 0.7rem 1rem 0.7rem 1rem;
}
.section-home .sub-news .sub-news-container .sub-news-tab .css-w8dmq8 .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root .latest-news-container .latest-news-item .item {
  color: black;
}
.section-home .sub-news .sub-news-container .sub-news-tab .css-w8dmq8 .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root .latest-news-container .latest-news-item:hover .item {
  color: #0098d1;
}
.section-home .sub-news .sub-news-container .sub-news-tab .css-w8dmq8 .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root .popular-news-container {
  border-bottom: 1px solid #ebebeb;
  padding: 0.7rem 1rem 0.7rem 1rem;
}
.section-home .sub-news .sub-news-container .sub-news-tab .css-w8dmq8 .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root .popular-news-container .popular-news-item .item {
  color: black;
}
.section-home .sub-news .sub-news-container .sub-news-tab .css-w8dmq8 .MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root .popular-news-container .popular-news-item:hover .item {
  color: #0098d1;
}
.section-home .sub-news .sub-news-box-blog {
  padding-top: 20px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .box-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .box-container .box-flex {
  padding-left: 10px;
  padding-right: 10px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .box-container .box-flex .box-topic {
  font-size: 0.9rem;
  color: #0098d1;
  font-weight: bold;
  width: 290px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .box-container .box-flex .box-title {
  padding-top: 5px;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .box-container .box-flex .box-author {
  display: flex;
  padding-top: 25px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .box-container .box-flex .box-author .author-flex {
  margin-left: 20px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .box-container .box-flex .box-author .author-flex .author {
  font-size: 0.8rem;
  font-weight: 500;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .box-container .box-flex .box-author .author-flex .author-name {
  font-size: 0.8rem;
  font-weight: bold;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .blog-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .blog-container .blog-flex {
  padding-left: 10px;
  padding-right: 10px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .blog-container .blog-flex .blog-topic {
  font-size: 0.9rem;
  color: #0098d1;
  font-weight: bold;
  width: 290px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .blog-container .blog-flex .blog-title {
  padding-top: 5px;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .blog-container .blog-flex .blog-author {
  display: flex;
  padding-top: 25px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .blog-container .blog-flex .blog-author .author-flex {
  margin-left: 20px;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .blog-container .blog-flex .blog-author .author-flex .author {
  font-size: 0.8rem;
  font-weight: 500;
}
.section-home .sub-news .sub-news-box-blog .box-blog-container .box-blog-flex .blog-container .blog-flex .blog-author .author-flex .author-name {
  font-size: 0.8rem;
  font-weight: bold;
}/*# sourceMappingURL=MainNews.css.map */