
.homeContent{
    margin: 0 auto;
    max-width: 1150px;
}
.home-flex{
    margin: 0 auto;
    max-width: 1150px;
    display: flex;
    .home-left{
        width: 735px;
    }
    .home-right{
        width: 325px;
        margin-left: 60px;
    }
}
.btn-xemthem{
    width: 100%;
    background: #fafafc;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 10px;
    display: block;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
    margin-bottom: 30px;
}
.btn-xemthem:hover{
    background: #eaeaea;
    cursor: pointer;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    margin: 20px 0 20px;
}