<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://thanhnien.vn/nhieu-luoi-sat-bao-mieng-cong-o-tphcm-bong-bien-mat-trung-thoi-diem-dien-ra-euro-2024-185240708214145005.htm"><img src="https://images2.thanhnien.vn/zoom/600_315/528068263637045248/2024/7/8/img1621-17204489751831697155039-0-0-1580-2528-crop-17204490824141348649648.jpg"></a> Trung t&acirc;m Quản l&yacute; hạ tầng kỹ thuật TP.HCM vừa ghi nhận t&igrave;nh trạng mất cắp vật tư tho&aacute;t nước (lưới chắn 
r&aacute;c miệng thu nước) c&oacute; dấu hiệu gia tăng trong thời gian gần đ&acirc;y, đặc biệt c&ugrave;ng thời điểm diễn ra c&aacute;c giải b&oacute;ng đ&aacute; quốc tế (EURO v&agrave; Copa America 2024).
</body>
</html>