* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.technology .tech-container {
  padding-top: 2rem;
  background: #012f3f;
}
.technology .tech-container .tech-main-news {
  width: 1150px;
  margin: auto;
}
.technology .tech-container .tech-main-news .tech-top {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #454545;
  padding-bottom: 1.5rem;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-left {
  border-right: 1px solid #454545;
  display: flex;
  flex-direction: column;
  width: 65%;
  padding-right: 1rem;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-left .main-image img {
  width: 100%;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-left .main-title {
  padding-top: 1rem;
  text-align: center;
  width: 90%;
  margin: auto;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-left .main-title a h2 {
  font-size: 2rem;
  color: white;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-left .main-title a:hover h2 {
  color: #0098d1 !important;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-left .main-description {
  padding-top: 1.3rem;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-left .main-description a {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-left .main-description a:hover {
  color: #666;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right {
  width: 35%;
  padding-left: 1rem;
  height: 100%;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right .top-post .image img {
  width: 100%;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right .top-post .title {
  padding-top: 0.7rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #454545;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right .top-post .title a h5 {
  font-size: 0.9rem;
  color: white;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right .top-post .title a:hover h5 {
  color: #0098d1 !important;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right .middle-post {
  padding-top: 1rem;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right .middle-post .image img {
  width: 100%;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right .middle-post .title {
  padding-top: 0.7rem;
  padding-bottom: 0.6rem;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right .middle-post .title a h5 {
  font-size: 0.9rem;
  color: white;
}
.technology .tech-container .tech-main-news .tech-top .tech-top-container .tech-right .middle-post .title a:hover h5 {
  color: #0098d1 !important;
}
.technology .tech-container .tech-main-news .tech-middle {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  gap: 2rem;
}
.technology .tech-container .tech-main-news .tech-middle .post {
  display: flex;
  flex-direction: column;
}
.technology .tech-container .tech-main-news .tech-middle .post .image {
  width: 100%;
}
.technology .tech-container .tech-main-news .tech-middle .post .image img {
  width: 100%;
}
.technology .tech-container .tech-main-news .tech-middle .post .title {
  width: 100%;
  padding-top: 0.5rem;
}
.technology .tech-container .tech-main-news .tech-middle .post .title a h5 {
  font-size: 0.9rem;
  color: white;
}
.technology .tech-container .tech-main-news .tech-middle .post .title a:hover h5 {
  color: #0098d1 !important;
}

/*# sourceMappingURL=TechnologyCategory.css.map */
