* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.category-container {
  padding-top: 2rem;
  width: 1150px;
  margin: auto;
  .category-left {
    width: 65%;
    .category-main-news {
      .category-top-container {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 1rem;
        .category-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .category-left {
            border-right: 1px solid #ebebeb;
            display: flex;
            flex-direction: column;
            width: 65%;
            padding-right: 1rem;
            .main-image {
              img {
                cursor: pointer;
                width: 100%;
              }
            }
            .main-title {
              padding-top: 1rem;
              h5 {
                font-size: 1.2rem;
              }
            }
            .main-description {
              padding-top: 1.3rem;
              p {
                font-size: 16px;
                font-family: Inter,Arial;
                color: #454545;
              }
            }
          }
          .category-right {
            width: 35%;
            padding-left: 1rem;
            height: 100%;
            .top-post {
              .image {
                img {
                  width: 100%;
                }
              }
              .title {
                padding-top: 0.5rem;
                padding-bottom: 0.6rem;
                border-bottom: 1px solid #ebebeb;
                h5 {
                  font-size: 0.9rem;
                }
              }
            }
            .middle-post {
              padding-top: 1rem;
              .image {
                img {
                  width: 100%;
                }
              }
              .title {
                padding-top: 0.5rem;
                padding-bottom: 0.6rem;
                h5 {
                  font-size: 0.9rem;
                }
              }
            }
          }
        }
      }
      .category-middle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1.5rem;
        .left-post {
          display: flex;
          width: 50%;
          .image {
            width: 35%;
            img {
              width: 100%;
            }
          }
          .title {
            width: 55%;
            padding-left: 0.5rem;
            h5 {
              font-size: 0.9rem;
            }
          }
        }
        .right-post {
          display: flex;
          width: 50%;
          .image {
            width: 35%;
            img {
              width: 100%;
            }
          }
          .title {
            width: 55%;
            padding-left: 0.5rem;
            h5 {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
